body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  box-sizing: border-box;
}
*,*::before,*::after {
  box-sizing: inherit;
  background-color: #757475;
}

.exemple {
  padding: 80px 0;
  background-color: chocolate;
}
.exemple__conteier {
  padding: 0px 15px;
  margin: 0px auto;
  max-width: 65.625rem;
  position: relative;
}
.exemple__conteier::before {
  content: '';
  background: url('./images/decor.svg') 0 0 / 100% no-repeat;
  position: absolute;
  right: 0;
  width: 15.57%;
  padding-top: 22.95%;
  top: 50%;
  transform: translate(50%, -50%);
}